body {
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.hupo{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 40%;
    right: 0;
    margin-right: 8em;
    position: absolute;
    margin-top: 50vh;
    font-weight: bold; 
    color: black;
   
}
.hupo p, h2{
    margin: 15px;
    

}
.info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    background-color:aqua;
    border-top-style: dashed;
    border-bottom-style:dashed;
}
.info img{
    border-radius: 10px;
}
