@{
    ViewBag.Title = "About";
}


<img class="img-fluid img-thumbnail" style="margin-top:2%; width:100%" src="https://th.bing.com/th/id/R.e130a84e177349f9df21a19c4e51342d?rik=G5EsksRL%2fIMY8w&riu=http%3a%2f%2fpisosparquelitoralenventa.com%2fwp-content%2fuploads%2f2019%2f10%2fheader-hospitales.jpg&ehk=ebKaIevw5FGG00LAkZIcTkECcEkJ81Id75I8uvhsnd4%3d&risl=&pid=ImgRaw&r=0" alt="Alternate Text" />
<br />
<br />
<div class="list-group">
    <center>
        <a href="#" class="list-group-item active" style="width:80%">
            <h4 class="list-group-item-heading" style="font-size:35px; ">Sobre nosotros</h4>
            <p class="list-group-item-text" style="font-size: 20px">Great Ormond Street Hospital (GOSH) es uno de los principales hospitales infantiles del mundo. Explore esta sección para conocer lo que hacemos y cómo nos gestionamos.</p>
        </a>
    </center>
</div>

</div>
