@{
    ViewBag.Title = "Contact";
}

<img class="img-fluid img-thumbnail" src="https://www.gosh.nhs.uk/static/images/logo.e57c277b2a23.svg" alt="Alternate Text" style="height:15%; width:20%; margin-top:3%"/> 
<p class="lead" style="font-size:25px; font-weight:700; color:rgb(19 35 212); margin-top: 5%">Contactenos</p>
<h3 style="font-weight: 400; margin-left: 5%">
    Aquí encontrará todo lo que necesita saber para comunicarse con el departamento correcto en Great Ormond Street Hospital (GOSH).
</h3>
<br />
<p class="lead" style="font-size:25px; font-weight:700; color:rgb(19 35 212)">Teléfono contacto centralita principal</p>
<h3 style="font-weight: 400; margin-left: 5%">
    Teléfono: 020 7405 9200
</h3>
<br />
<p class="lead" style="font-size:25px; font-weight:700; color:rgb(19 35 212)">Dirección del Hospital</p>
<h3 style="font-weight: 400; margin-left: 5%">
    Hospital <br />
    Great Ormond Street Great Ormond Street <br />
    Londres <br />
    WC1N 3JH
</h3>
<br />
<p class="lead" style="font-size:25px; font-weight:700; color:rgb(19 35 212)">Dónde encontrar la información que necesita</p>
<h3 style="font-weight:400">
    Los enlaces a continuación lo dirigirán a información sobre lo siguiente:
</h3>
<br />
<ul style="font-size: 20px; color: rgb(19 35 212); margin-left:5%">
    <li><a href="">Direcciones al hospital</a></li>
</ul>
<ul style="font-size: 20px; color: rgb(19 35 212); margin-left: 5%">
    <li><a href="">Servicio de Asesoramiento y Enlace al Paciente (Pals)</a></li>
</ul>
<ul style="font-size: 20px; color: rgb(19 35 212); margin-left: 5%">
    <li><a href="">Cómo presentar una queja</a></li>
</ul>
<ul style="font-size: 20px; color: rgb(19 35 212); margin-left: 5%">
    <li><a href="">Cómo ser referido</a></li>
</ul>
<ul style="font-size: 20px; color: rgb(19 35 212); margin-left: 5%">
    <li><a href="">Donaciones y recaudación de fondos</a></li>
</ul>
<ul style="font-size: 20px; color: rgb(19 35 212); margin-left: 5%">
    <li><a href="">Trabajar como voluntario</a></li>
</ul>
<ul style="font-size: 20px; color: rgb(19 35 212); margin-left: 5%">
    <li><a href="">preguntas de la prensa</a></li>
</ul>
<br />
<br />


<address style="font-size: 20px">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>