@{
    ViewBag.Title = "Home Page";
}


    <div style="background-color: rgba(255, 255, 255, 0.7); width: 45%; height:30%; position: absolute; margin-top: 18%; right: 12%">
        <h2 style="margin-top:5%; margin-left:5%; font-weight:900; color:rgb(60 101 219)">Apoyando a las familias en tiempos difíciles.</h2>
        
        <p><a href="https://asp.net" class="btn btn-primary btn-lg" style="margin-top:3%; margin-left:5%">Saber más &raquo;</a></p>
    </div>
    <div>
        <img src="https://media.gosh.nhs.uk/images/Margots_nurse_Hannah_on_Flamingo_.cb3fe082.fill-1200x540.jpg" class="img-responsive" alt="Responsive image" style="width:100%;padding-top:4% ">
        
    </div>
    <br>
    <br>
    


    <div class="row" style="background-color: rgb(183, 237, 235, 0.4); display: flex; flex-wrap: wrap; border-style: dashed; border-left: none; border-right: none; border-width: 10px">
        <div class="col-md-4" style="width: 20%; margin: 10px; margin-left:5%">
            
            <center><h2 style="font-weight:700">Nuestras Instalaciones</h2></center>
    <br />

    <img class="img-fluid img-thumbnail" src="https://media.gosh.nhs.uk/images/3a063946-17184694-38ed062f-cfca3aa.2e16d0ba.fill-400x400.png" alt="Alternate Text" />
    <br>
    <br>
    <center><p style="width:100%; font-size:17px; font-weight:700; color:rgb(32 51 202)" ">

    Para pacientes y sus padres o cuidadores
    </p></center>
         <center><p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p></center>
    </div>
    


        <div class="col-md-4"style="width: 20%; margin:10px">
            <center><h2 style="font-weight:700">Nuestro Personal</h2></center>
            <br>
            <img class="img-fluid img-thumbnail"  src="https://media.gosh.nhs.uk/images/Book_search_poADDcb.2e16d0ba.fill-400x400.png" alt="Alternate Text" />
            <br>
            <br>
            <center><p style="width:100%;font-size:17px; font-weight:700; color:rgb(32 51 202)">Imformaciòn para familias, amigos y escuelas</p></center>
            <center><p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p></center>
        </div>


        <div class="col-md-4" style="width: 20%; margin: 10px">
            <center><h2 style="font-weight:700">Nuestros Proyectos</h2></center>
            <br>
            <img class="img-fluid img-thumbnail" src="https://media.gosh.nhs.uk/images/Notebook_pad.2e16d0ba.fill-400x400.png" alt="Alternate Text" />
            <br>
            <br>
            <center><p style="width:60%; font-size:17px; font-weight:700; color:rgb(32 51 202); " >Para profesionales de la salud</p></center>
            <center><p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p></center>
        </div>


        <div class="col-md-4" style="width: 20%; margin: 10px">
            <center><h2 style="font-weight:700">Nuestras Instalaciones</h2></center>
            <br>
            <img class="img-fluid img-thumbnail"src="https://media.gosh.nhs.uk/images/Microscope_G6RPMCQ.2e16d0ba.fill-400x400.png" alt="Alternate Text" />
            <br>
            <br>
            <center><p style="width:60%;font-size:17px; font-weight:700; color:rgb(32 51 202)" " >Imformaciòn para investigadores, socios y financiadores</p></center>
            <center><p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p></center>
        </div>
    </div>
    <br />
    <br />
    <div style="display:flex">
        <div>
            <img class="img-fluid img-thumbnail" src="https://media.gosh.nhs.uk/images/logo_1.2e16d0ba.fill-570x385.jpg" alt="Alternate Text" />
        </div>
        <div>
            <img class="img-fluid img-thumbnail" src="https://media.gosh.nhs.uk/images/Nurse_and_toddler.2e16d0ba.fill-570x385.jpg" alt="Alternate Text" />
        </div>
    </div>
    <br />
    <br />
    <div>
        <img src="https://www.gosh.nhs.uk/static/images/cssBackgrounds/waves.629c5685182a.png" style="width:100%" alt="Alternate Text" />
    </div>
    <footer style="background-color:rgb(127 189 224); height:160px ; display: flex">
        <img src="https://www.gosh.nhs.uk/static/images/submarine.877b3c549db3.svg" style="height:160px; width:280px; margin-left:20%" alt="Alternate Text" />
        
    </footer>

    